<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node SCRAM Server</title>
</head>
<body>
<h1>You've been SCRAM-ed [Superior Control Room Alarm Manager - external display]</h1>
<h2>Latest Alarms</h2>

<% if (result) { %>
Number of results: <%= count %><br>
Displayed Results: <%= result.length %>
<ol><h2><div class="pv_display_list">
<% for (var i = 0; i < result.length; i++) { %>
<li>---
    <% if (result[i].pv_date) { %><%= moment(result[i].pv_date).format("YYYY-MM-DD  HH:mm:ss") %> <% } %>
    <% if (result[i].pv_name) { %><%= result[i].pv_name %> <% } %>
    <% if (result[i].pv_value) { %><%= result[i].pv_value %><% } %>
    <% if (result[i].pv_status) { %><%= result[i].pv_status %><% } %>
    <% if (result[i].pv_severity) { %><%= result[i].pv_severity %><% } %>
</li>
<% } %>
</div></h2></ol>
<% } %>


<script src="socket.io.min.js"></script>
<script src="jquery-3.2.0.min.js"></script>
<script src="moment.js"></script>
<script>
    var socket = io();

    socket.on('db_updated', function(msg){
        // console.log(msg);
        var msg2 = JSON.parse(msg);
        $('.pv_display_list').prepend($('<li>').text("--- " + moment(msg2.pv_date).format("YYYY-MM-DD  HH:mm:ss") + " " +
                                                msg2.pv_name + " " +
                                                msg2.pv_value + " " +
                                                msg2.pv_status + " " +
                                                msg2.pv_severity));
    });
</script>

</body>
</html>