<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node SCRAM Server</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/tether.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/scram.custom.css">
</head>
<body>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#" title="[Superior Control Room Alarm Manager - external display]">
      <img src="egg-icon.png" width="30" height="30" class="d-inline-block align-top" alt="SCRAM Logo">
      SCRAM-ed</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <a class="nav-link" href="#config"><i class="fa fa-cogs icon-white"></i></a>
  </div>
</nav>


<div class="alert alert-danger" id="connection_state"></div>
<h2>Active Alarms</h2>
<ol>
    <h3>
        <div class="pv_display_active">

        </div>
    </h3>
</ol>


<h2>Alarm Log</h2>

<% if (result) { %>
<ol><h3><div class="pv_display_list">
<% for (var i = 0; i < result.length; i++) { %>
<div class="row <% if (result[i].pv_severity == 'MAJOR') { %> bg-danger <% } %> <% if (result[i].pv_severity == 'MINOR') { %> bg-warning <% } %>">

        <div class="col-sm-2"><% if (result[i].pv_date) { %><%= moment(result[i].pv_date).format("YYYY-MM-DD  HH:mm:ss") %> <% } -%></div>
        <div class="col-sm-4"><% if (result[i].pv_name) { %><%= result[i].pv_name %> <% } -%></div>
        <div class="col-sm"><% if (result[i].pv_value) { %><%= result[i].pv_value %><% } -%></div>
        <div class="col-sm"><% if (result[i].pv_status) { %><%= result[i].pv_status %><% } -%></div>
        <div class="col-sm"><% if (result[i].pv_severity) { %><%= result[i].pv_severity %><% } -%></div>

</div>
<% } %>
</div></h3></ol>
<% } %>


<script src="socket.io.min.js"></script>
<script src="/js/jquery.min.js?v3.2.1"></script>
<script src="/js/tether.min.js?v1.4.0"></script>
<script src="/js/bootstrap.min.js?v4.0.0-alpha.6"></script>
<script src="/js/moment-with-locales.min.js"></script>
<script src="/js/wad.min.js?v2.3.1"></script>
<script>
    var bell = new Wad({source: 'Bell-tone.mp3',
                        volume: 1.0});

    var socket = io();

    socket.on('db_updated', function(msg){
        var msg2 = JSON.parse(msg);
        var class_str = "row";
        if (msg2.pv_severity === 'MAJOR'){
            class_str = "row bg-danger";
        }
        if (msg2.pv_severity === 'MINOR'){
            class_str = "row bg-warning";
        }
        //console.log(class_str);

        if (msg2.active_state === 1){
            $('.pv_display_active')
            .prepend($('<div>')
            .addClass(class_str)
            .html("<div class='col-sm-2'>" + moment(msg2.pv_date).format("YYYY-MM-DD  HH:mm:ss") + "</div>" +
                "<div class='col-sm-4'>" + msg2.pv_name + "</div>" +
                "<div class='col-sm'>" + msg2.pv_value + "</div>" +
                "<div class='col-sm'>" + msg2.pv_status + "</div>" +
                "<div class='col-sm'>" + msg2.pv_severity + "</div>"));

            bell.play({loop: true});
        }

        if (msg2.active_state === 2){
            console.log('active_state: ', msg2.active_state);
            $(".pv_display_active .row:contains("+msg2.pv_name+")").hide();
            bell.stop();
        }

        $('.pv_display_list')
            .prepend($('<div>')
            .addClass(class_str)
            .html("<div class='col-sm-2'>" + moment(msg2.pv_date).format("YYYY-MM-DD  HH:mm:ss") + "</div>" +
                "<div class='col-sm-4'>" + msg2.pv_name + "</div>" +
                "<div class='col-sm'>" + msg2.pv_value + "</div>" +
                "<div class='col-sm'>" + msg2.pv_status + "</div>" +
                "<div class='col-sm'>" + msg2.pv_severity + "</div>"));
    });

    socket.on('connect', function(){
        $('#connection_state').html('Connected to http://ascram01:9667');
        $('#connection_state').addClass('alert-success').removeClass('alert-danger');
    });

    socket.on('disconnect', function(){
        $('#connection_state').html('Unable to Connect');
        $('#connection_state').addClass('alert-danger').removeClass('alert-success');
    });
</script>

</body>
</html>